* {

 margin: 0;

 padding: 0;

 box-sizing: border-box;

}



html {

 

 font-size: 62.5%;

 overflow-x: hidden;

 scroll-behavior: smooth;

}



body {

 font-family: 'Rubik', sans-serif;

 line-height: 1.5;

 font-size: 1.5rem;

 font-weight: 400;

 overflow-x: hidden;

 color: #BFA181;

 background-color: #0A1828;

}



.heading-primary,

.heading-secondary,

.heading-tertiary {

 font-weight: 700;

 color: #178582;

 letter-spacing: -0.5px;

}



.heading-primary {

 font-size: 5.2rem;

 line-height: 1.05;

 margin-bottom: 3.2rem;

}



.heading-secondary {

 font-size: 4.4rem;

 line-height: 1.2;

 margin-bottom: 5.6rem;

 text-align: center;

}



.heading-tertiary {

 font-size: 3rem;

 line-height: 1.2;

 margin: 1.2rem;

}



a {

 text-decoration: none;

}



/*.first-fold {

 background-image: url(warehouse\ photo.jpg);
 background-repeat: no-repeat;
 background-position: center right;
 object-position: 80% 100%;
 background-size: 20%;
 min-height: 80rem;
 margin-right: 15px;
}*/
.header {

 display: flex;

 justify-content: space-between;

 align-items: center;

 background-color: transparent;

 height: 9.6rem;

 padding: 0 4.8rem;

}



.logo {

 height: 2.2rem;

 font-size: 3.6rem;

 text-decoration: none;

 text-align: center;

 font-weight: bold;

 color: #462d12;

}



/* ****************** */

/* Navigation */

/* ****************** */



.main-nav-list {

 list-style: none;

 display: flex;

 align-items: center;

 gap: 4.8rem;

}



.main-nav-link {

 display: inline-block;

 text-decoration: none;

 color: #178582;

 font-weight: 400;

 font-size: 1.8rem;

}



.main-nav-link.nav-cta {

 padding: 1.2rem 2.4rem;

 border-radius: 9px;

 color: #178582;

 background-color: #0A1828;

}
.section-hero {

 padding: 15rem 0 9.6rem;

}







.hero-description {

 font-size: 2rem;

 line-height: 1.6;

 margin: 4.8rem 0;

 

}


.my-projects {

 padding: 9.6rem 0;

}



.container {

 max-width: 120rem;

 margin: 0 auto;

 padding: 1.5rem 3.2rem;

}

.grid {

 display: grid;

 grid-template-columns: 1fr 1fr;

 gap: 4rem;

 align-items: center;

 justify-content: center;

 text-align: center;

}

.projects img {

 width: 80%;

 border-radius: 9px;

}




.text {

 max-width: 45rem;

 background-color: #012645;

 padding: 10rem 5rem;

 margin-left: -5rem;

 border-radius: 9px;

}



.text h2 {

 margin-bottom: 4.5rem;

 text-align: center;

}



.grid-MyResume {

 grid-template-columns: 1.2fr 0.8fr;

 gap: 0;

}



.MyResume {

 padding: 2rem 0 7rem 0;

}



.MyResume img {

 width: 98%;

 justify-self: end;

 border-radius: 9px;

}



.MyResume p {

 font-size: 2.2rem;

}


.grid-contact {

 grid-template-columns: 1.2fr 0.8fr;

 gap: 0;

}



.contact {

 padding: 2rem 0 7rem 0;

}



.contact img {

 width: 98%;

 justify-self: end;

 border-radius: 9px;

}



.contact p {

 font-size: 2.2rem;
    color: #BFA181;
    text-align: left;
    /*font-size: 13px;*/

}


footer {

 text-align: center;

 background-color: #0A1828;

 padding: 2.5rem;

}
.contact-links,.text a:link {
  color: #BFA181;
  background-color: transparent;
  text-decoration: none;
}
.contact-linksf,.text a:hover {
  
  background-color: transparent;
  text-decoration: underline;
}
.contact-links,.text a:active {
  color: #BFA181;
  background-color: transparent;
  text-decoration: underline;
}
.contact-links,.text a:visited {
  color: #BFA181;
  background-color: transparent;
  text-decoration: none;
}



.nav-links a:link {
  color: #178582;
  background-color: transparent;
  text-decoration: none;
}
.nav-links a:hover {
  
  background-color: transparent;
  text-decoration: underline;
}
.nav-links a:active {
  color: #178582;
  background-color: transparent;
  text-decoration: none;
}
.nav-links :visited {
  color: #178582;
  background-color: transparent;
  text-decoration: none;
}



.back-to-top{
    position: fixed;
    bottom: 2rem;
    right:2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
    transition: .2s ease-out;
    
}
.back-to-top span{
    color: #178582;
    font-size: 3rem;
    transition:.2s ease-out;
    
}
.back-to-top hover{
    background-color: #178582;
    
}
.back-to-top:hover span{
    transform: translateY(-4px);
}

/*.text, .my-projects img{
  margin: 2px;
  transition: border 0.3s ease-in-out;
  border: 2px solid transparent; 
}*/

.text, .my-projects img:hover{
border: 5px solid #178582;
}
/*side by side fold code for the intro*/
.setup{
  background-color: #0A1828;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  margin: 20 rem auto 0 auto;
  align-content:center;

}

.setup img{
  height: 400px;
  
}
.setup p{
  color:#BFA181;
  margin-right: 60px;

  
}